02.WIP/22.CD/Kyuyo/Kyuyo/Service References/ServiceReference/MailWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://bap.poweregg.net/" targetNamespace="http://bap.poweregg.net/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="send" type="tns:send" />
  <xs:element name="sendResponse" type="tns:sendResponse" />
  <xs:complexType name="send">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sendToEmployees" type="tns:employeeDto" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="copyToEmployees" type="tns:employeeDto" />
      <xs:element minOccurs="0" name="senderEmployee" type="tns:employeeDto" />
      <xs:element minOccurs="0" name="subject" type="xs:string" />
      <xs:element minOccurs="0" name="content" type="xs:string" />
      <xs:element name="isSendToMobile" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="attachments" type="tns:attachedFileWsDto" />
      <xs:element name="permitAddTarget" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="employeeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="corpId" type="xs:string" />
      <xs:element minOccurs="0" name="empNumber1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="attachedFileWsDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="binary" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="fileName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sendResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:resultStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="mainMessage" type="xs:string" />
      <xs:element name="mainStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>